:root {
  --main-background: rgb(65, 65, 65);
  --background-div: rgb(46, 46, 46);
  --orange-background: rgb(255, 188, 100);
  --orange-background-dark: rgb(255, 145, 0);
  --orange-background-light: rgb(255, 202, 132);
  --red-dark: rgb(255, 0, 0);
  --red-light: rgb(255, 119, 119);
  --transition-time: 0.4s;
}

div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

aside {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  width: 15%;
  height: 100vh;
  /* position: sticky; */
  top: 0;
  left: 0;
  z-index: 2;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 86.5vw; */
  /* height: 100vh; */
  /* flex-grow: 0;
  flex-shrink: 0; */
}

h3,
h4,
h5 {
  font-family: sans-serif;
  color: var(--orange-background);
  letter-spacing: 0.3px;
  cursor: default;
  text-align: center;
  margin: 0.7em 0.7em 0.7em;
  transition-duration: var(--transition-time);
}

h5 {
  font-size: 11px;
}

.text-highlighted {
  color: var(--orange-background-dark);
}

.container-with-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.3em 1em 1.5em;
  border: 1px solid var(--orange-background);
  background-color: var(--background-div);
}

.container-git-link {
  position: relative;
  height: 100%;
  white-space: nowrap;
  margin: 0 7% 5%;
}

.git-logo {
  width: 40px;
  height: 40px;
  margin-right: 2px;
}

.git-text {
  font-size: 1.1rem;
}

.wrapper-clear {
  margin-top: 1em;
  border: 1px solid var(--red-light);
}

.wrapper-num-of-lines {
  display: flex;
  flex-direction: column;
  margin: 0.1em 0.6em 0.3em;
}

.wrapper-toggle-section {
  align-items: center;
  margin-top: -0.7em;
}

.btn-clear-png {
  background: url("./images/btn-trash-can.png") no-repeat scroll 0 0 transparent;
}

.btn-animation {
  background: url("./images/btn-animation.png") no-repeat scroll 0 0 transparent;
}

.btn-random-color {
  background: url("./images/btn-random-color.png") no-repeat scroll 0 0
    transparent;
}

.btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-size: 100% 100%;
  background-color: var(--orange-background);
  border: none;
  outline: none;
  cursor: pointer;
  border-color: transparent;
  transition-duration: var(--transition-time);
}

.btn:hover {
  background-color: var(--orange-background-dark);
  color: var(--red-light);
}

.btn:active {
  background-color: var(--orange-background-light);
}

.btn-clear {
  background-color: var(--red-light);
  margin: 0.7em 0.7em 0.7em;
}

.btn-clear:hover {
  background-color: var(--red-dark);
}

.btn-clear:active {
  background-color: var(--red-light);
}

.btn-toggled {
  box-shadow: 0 0 15px var(--orange-background-dark);
  background-color: var(--orange-background-dark);
}

.tools {
  margin: 0em 1em 1em;
}

.tools-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/* Input type="color" */

input[type="color"] {
  -webkit-appearance: none;
  position: relative;
  border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
}

/* Input type="range" */
/* Chrome */
input[type="range"] {
  overflow: hidden;
  width: 70%;
  -webkit-appearance: none;
  background-color: #eaecee;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: var(--orange-background);
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: -80px 0 0 80px var(--orange-background-dark);
  transition-duration: var(--transition-time);
}

input[type="range"]::-webkit-slider-thumb {
  width: 12%;
  -webkit-appearance: none;
  height: 15px;
  cursor: pointer;
  background: #000000;
  box-shadow: -80px 0 0 80px var(--orange-background);
}

/* Firefox*/
input[type="range"]::-moz-range-progress {
  background-color: #ffffff;
}
input[type="range"]::-moz-range-track {
  background-color: var(--orange-background);
}
/* Internet Explorer*/
input[type="range"]::-ms-fill-lower {
  background-color: #ffffff;
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--orange-background);
}

/* Drop-down menu */

nav {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 17px;
  z-index: 7;
  margin-bottom: 0.2em;
}

nav ul li label:hover {
  background-color: var(--orange-background-dark);
  border-radius: 2px;
}

nav ul li {
  color: #000000;
  margin: 0px;
  background-color: var(--orange-background);
}

nav label {
  cursor: pointer;
  display: block;
  padding: 0 5px;
  color: #000000;
  font-size: 10px;
  height: 15px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 100%;

}

nav ul li ul li:hover {
  background: #000000;
  color: #ffffff;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 15px;
}

nav ul ul li {
  float: none;
  display: list-item;
  position: relative;
  left: 0px;
  text-align: center;
}

nav ul li:hover > ul {
  display: inherit;
}

.toggle,
[id^="drop"] {
  display: none;
}

@media screen and (max-width: 1023px) {
  aside {
   width: 25%;
  }

  h3 {
    font-size: 10px;
  }

  h4 {
    font-size: 9px;
  }

  h5 {
    font-size: 9px;
  }

  .btn {
    height: 30px;
    width: 30px;
  }

  nav ul {
    left: 25%;
    width: 50%
  }

  .wrapper-toggle-section {
    display: flex;
    flex-direction: column;
  }

  .git-logo {
    width: 20px;
    height: 20px;
  }
  
  .git-text {
    font-size: 0.4rem;
  }
}
