:root {
  --main-background: #4b4b4b;
  --orange-background: rgb(255, 181, 85);
  --orange-background-dark: rgb(255, 145, 0);
  --orange-background-light: rgb(255, 202, 132);
  --red-dark: rgb(255, 0, 0);
  --red-light: rgb(255, 101, 101);
}

h2 {
  font-size: 18px;
  font-family: sans-serif;
  color: var(--orange-background);
  letter-spacing: 0.3px;
  margin-left: 100px;
  margin-top: 24px;
  margin-right: 12px;
  width: 275px;
  position: relative;
  cursor: default;
}

h4 {
  font-size: 13px;
  font-family: sans-serif;
  color: var(--orange-background);
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 50px;
  position: relative;
  cursor: default;
}

.git-link-box {
  position: absolute;
  right: 30px;
  top: 13px;
}

.background-main {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
}

.canvas-box {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  height: 89.5%;
}

.canvas-background {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas-main {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
}

.canvas-draft {
  position: absolute;
  z-index: 2;
  border: 1px solid black;
}

.tools-border-1 {
  position: absolute;
  background-color: transparent;
  border: solid 1px var(--orange-background);
  border-radius: 2px;
  top: 2px;
  left: 510px;
  width: 705px;
  height: 62px;;
}

.tools-border-2 {
  position: absolute;
  background-color: transparent;
  border: solid 1px var(--orange-background);
  border-radius: 2px;
  top: 2px;
  left: 130px;
  width: 330px;
  height: 62px;;
}

.tools-container-box {
  position: absolute;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
}

.btn-clear {
  top: 15px;
  left: 10px;
  background: url("./images/btn-trash-can.png") no-repeat scroll 0 0 transparent;
}

.btn-animation {
  position: static;
  background: url("./images/btn-animation.png") no-repeat scroll 0 0 transparent;
}

.btn-random-color {
  background: url("./images/btn-random-color.png") no-repeat scroll 0 0 transparent;
}

.btn {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 10px;
  background-size: 100% 100%;
  background-color: var(--orange-background);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--orange-background-dark);
}

.btn-clear:hover {
  background-color: var(--red-dark);
}

.btn:active {
  background-color: var(--orange-background-light);
}

.btn-clear:active {
  background-color: var(--red-light);
}

.btn-toggled {
  box-shadow: 0 0 15px var(--orange-background-dark);
  background-color: var(--orange-background-dark);
}

.tools {
  margin-right: 35px;
}

.color-picker {
  position: relative;
  top: 27px;
  left: -41px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.width-slider {
  position: relative;
  top: 30px;
  left: -96px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.btn-box {
  top: 27px;
  left: -90px;
}

/* Input type="color" */

input[type="color"] {
  -webkit-appearance: none;
  position:relative;
  border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch {
  position:absolute;
  top:-1px;
  left:-1px;
  right:-1px;
  bottom:-1px;
  box-sizing: border-box;
  border:1px solid transparent;
  border-radius: 10px;
}

/* Input type="range" */
/* Chrome */
input[type="range"] {
  overflow: hidden;
  width: 110px;
  -webkit-appearance: none;
  background-color: #eaecee;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: var(--orange-background);
  margin-top: -1px;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: -80px 0 0 80px var(--orange-background-dark);
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 15px;
  cursor: pointer;
  background: #000000;
  box-shadow: -80px 0 0 80px var(--orange-background);
}

/* Firefox*/
input[type="range"]::-moz-range-progress {
  background-color: #ffffff;
}
input[type="range"]::-moz-range-track {
  background-color: var(--orange-background);
}
/* Internet Explorer*/
input[type="range"]::-ms-fill-lower {
  background-color: #ffffff;
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--orange-background);
}

/* Drop-down menu*/
nav {
  margin-left: 20px;
  cursor: pointer;
  padding: 0;
  height: 1px;
  width: 1px;
  background-color: transparent;
  z-index: 7;
  font-family: sans-serif;
  font-size: 22px;
}

nav ul li label:hover {
  background-color: var(--orange-background-dark);
  border-radius: 5px;
}

nav ul li {
  color: #000000;
  margin: 0px;
  background-color: var(--orange-background);
}

nav label {
  margin-top: 15px;
  cursor: pointer;
  display: block;
  padding: 0 5px;
  color: #000000;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li ul li:hover { background: #000000; color: #ffffff;}

nav ul ul {
  display: none;
  position: absolute;
  top: 45px;
}

nav ul ul li {
  width: 60px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li:hover > ul { display: inherit; }

.toggle, [id^=drop] {
  display: none;
}
